/*--------------------------------------------------------------
# Locura Section Styles
--------------------------------------------------------------*/
.locura-section {
    padding: var(--section-padding-vertical) 0;
    background-color: var(--color-primary-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.locura-section-wrapper {
    z-index: 10;
    text-align: center;
    width: 320px;
    margin: auto 0;
    padding: 10px var(--container-padding-mobile) 30px var(--container-padding-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.locura-section-wrapper>h3 {
    font-style: italic;
    font-size: var(--font-size-h3);
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
    color: var(--color-background);
    text-wrap: balance;
    margin-bottom: -20px;
}

.locura-text {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--color-background);
    text-decoration-thickness: 3px;
    text-underline-offset: 3.5px;
}

.unete-club-text {
    color: var(--color-text);
    font-weight: 600;
    font-style: normal;
}

.unete-club-line {
    z-index: -1;
    position: absolute;
    bottom: 8%;
    width: 100%;
    height: auto;
    transform: translateX(-10%);
    width: 160px
}

/* Tablet - 768px and up */
@media (min-width: 768px) {
    .locura-section-wrapper {
        width: 500px;
        position: relative;
    }

    .unete-club-line {
        width: 200px;
        position: absolute;
        bottom: 8%;
    }
}

/* Desktop - 1024px and up */
@media (min-width: 1024px) {
    .locura-section-wrapper {
        width: 700px;
    }

    .unete-club-line {
        position: absolute;
        width: 260px;
        bottom: 8%;
    }
}

/* Large Desktop - 1200px and up */
@media (min-width: 1200px) {}