/*--------------------------------------------------------------
# Mi Metodo Section Styles
--------------------------------------------------------------*/
.mi-metodo-section {
    padding: 0 var(--container-padding-mobile);
    background-color: var(--color-background);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-metodo {
    padding: var(--container-padding-mobile) 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.metodo-intro {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.metodo-conclusion {
    width: 330px;
}

.metodo-conclusion>p {
    font-size: clamp(1rem, 2vw, 1.1rem);
    line-height: 1.2rem;
    margin-bottom: 5px;
}

.metodo-ilu-wrapper {
    max-width: 345px;
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: repeat(var(--grid-columns-mobile), minmax(0, 1fr));
    grid-template-rows: repeat(24, minmax(0, 1fr));
    height: 90vh;
}

.metodo-texto-1 {
    grid-area: 1 / 4 / 3 / 11;
    font-size: 1.25rem;
    line-height: 1.3rem;
    font-weight: 500;
    font-style: italic;
}

.metodo-texto-2 {
    grid-area: 4 / 2 / 7 / 11;
    text-align: left;
    z-index: 10;
    text-wrap: balance;
    line-height: 1.2rem;
    font-style: italic;
}

.metodo-mesa {
    grid-area: 6 / 1 / 16 / 14;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metodo-texto-3 {
    grid-area: 17 / 3 / 19 / 13;
    z-index: 10;
    text-align: right;
    text-wrap: balance;
    line-height: 1.2rem;
    font-style: italic;
}

.metodo-texto-4 {
    grid-area: 21 / 2 / 24 / 13;
    text-align: left;
    text-wrap: balance;
    line-height: 1.2rem;
    font-style: italic;
}

.metodo-flecha-1 {
    grid-area: 6 / 4 / 9 / 5;
    transform: rotate(-45deg) scaleX(-1);
    ;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metodo-flecha-2 {
    grid-area: 15 / 12 / 17 / 13;
    transform: rotate(15deg);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metodo-flecha-3 {
    grid-area: 16 / 2 / 21 / 3;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curly-arrow-metodo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    transform: rotate(-10deg);
}

/*
MARK: 768px tablet
*/
@media (min-width: 768px) {
    .metodo-ilu-wrapper {
        max-width: 650px;
        display: grid;
        margin-bottom: 15px;
        grid-template-columns: repeat(20, minmax(0, 1fr));
        grid-template-rows: repeat(10, minmax(0, 1fr));
        height: 420px;
    }

    .metodo-texto-1 {
        grid-area: 1 / 6 / 1 / 15;
    }

    .metodo-texto-2 {
        grid-area: 2 / 1 / 4 / 7;
    }

    .metodo-mesa {
        grid-area: 1 / 5 / 10 / 17;
    }

    .metodo-texto-3 {
        grid-area: 3 / 16 / 19 / 21;
    }

    .metodo-texto-4 {
        padding-top: 10px;
        grid-area: 9 / 2 / 13 / 15;
    }

    .metodo-flecha-1 {
        grid-area: 1 / 7 / 5 / 8;
        padding: 5px;
        transform: rotate(-45deg) scaleX(-1);
    }

    .metodo-flecha-2 {
        grid-area: 9 / 13 / 10 / 14;
        margin-top: 20px;
        transform: rotate(50deg);
    }

    .metodo-flecha-3 {
        grid-area: 5 / 16 / 9 / 17;
        padding: 4px;
        transform: rotate(200deg);
    }

    .curly-arrow-metodo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        transform: rotate(-10deg);
    }

    .metodo-conclusion {
        margin-top: 20px;
        width: 600px;
        text-wrap: balance;
    }
}

/* Desktop - 1024px and up */
@media (min-width: 1024px) {
}

/* Large Desktop - 1200px and up */
@media (min-width: 1200px) {}