/*--------------------------------------------------------------
# MARK: QUIEN SOY
--------------------------------------------------------------*/

.quien-soy-section {
    padding: var(--section-padding-vertical) 0;
    position: relative;
}

.quien-soy-container {
    padding: 0 var(--container-padding-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quien-soy-img {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quien-soy-text {
    padding-top: 15px;
    text-align: center;
}

.quien-soy-text:last-child p {
    padding: 15px 15px 0 15px;
    text-wrap: balance;
}

.fullbio-link {
    padding-top: 15px;
    display: inline-block;
    color: var(--color-text);
    font-weight: 400;
}

/* CTA END */

.cta-end-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transform: translateY(-50px);
}

.cta-end-arrow {
    width: 100px;
    display: flex;
    transform: translate(100px) rotate(-15deg);
    align-items: center;
    justify-content: center;
}

/* MARK: Tablet 768px
*/
@media (min-width: 768px) {
    .quien-soy-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .quien-soy-img {
        width: 300px;
        flex-shrink: 0
    }

    .quien-soy-text {
        padding: 0 0 0 30px;
        text-align: left;
        width: 400px;
    }

    .quien-soy-text:last-child p {
        padding: 0;
        text-wrap: balance;
    }

    .cta-end-arrow {
        transform: rotate(-15deg) translate(150px, 20px);
    }

}

/* MARK: Desktop 1024px
*/
@media (min-width: 1024px) {}

/* MARK: Large 1200px
*/
@media (min-width: 1200px) {}